<!DOCTYPE html>
<html lang="en">    
<head>
	<%- include ('../partials/head') %>

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/bill.css">

	<title>FoodLove♥</title>
</head>
<body>
    <%- include ('../partials/hadmin') %>

	<!-- CONTENT -->
		<!-- MAIN -->
	
        <form>
            <div class="records table-responsive">

                <div class="record-header">
                    <div class="add">
                        <button>Add record</button>
                    </div>
    
                    <div class="browse">
                        <input type="search" id="myInput" onkeyup="searchTableMenu()" placeholder="Search" class="bx bx-search">
                    </div>
                </div>
    
                <div>
                    <table id="menutable" width="105%">
                        <thead>
                            <tr>
                                <th>Mã khách hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Tài khoản</th>
                                <th>Mật khẩu</th>
                                <th>SĐT</th>
                                <th>Địa Chỉ</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% customer.forEach((customer) => {%>
                            <tr>
                                <td><%= customer.id_user %></td>
                                <td><%= customer.name %></td>
                                <td>
                                    <h4> <%= customer.username %> </h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <%= customer.password %>
                                </td>
                                <td>
                                    <%= customer.tel %>
                                </td>
                                <td> 
                                    <%= customer.address %>
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="las la-eye"></span>
                                        <span class="bx bx-trash"></span>
                                        <span class="bx bx-pencil"></span>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
    
            </div>
        
        </form>
        
    <script src="/script/table.js"></script>
</body>
</html>