<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/bill.css">

	<title>FoodLove♥</title>
</head>
<body>
        <%- include ('../partials/hadmin') %>
        <!--MAIN-->
        <main>
            <div class="records table-responsive">

                <div class="record-header">
                    <div class="add">
                        <span></span>
                        <select name="" id="">
                            <option value="">ID</option>
                        </select>
                        <button>Add record</button>
                    </div>
    
                    <div class="browse">
                       <input type="search" placeholder="Search" class="bx bx-search">
                        <div>
                        <a href="/admin/menu/add"><i class="bx bx-plus"></i></a> 
                        </div>
                    </div>
                </div>
    
                <div>
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th><span class="las la-sort"></span> Tên món</th>
                                <th><span class="las la-sort"></span> Giá </th>
                                <th><span class="las la-sort"></span> Ảnh<i></i></th>
                                <th><span class="las la-sort"></span> Mô tả</th>
                                <th><span class="las la-sort"></span> Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% items.forEach((items) => {%>
                            <tr>
                                <td> <%= items.id_item %> </td>
                                <td>
                                    <div class="client" >
                                            <h4> <%= items.name %> </h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <%= items.price %>
                                </td>
                                <td> <img src=<%= items.image %> width="100" height="100"> </td>
                                <td> <%= items.description %> </td>
                                <td>
                                    <div class="actions">
                                        <span class="las la-eye"></span>
                                        <span class="bx bx-trash"></span>
                                        <a href="/admin/menu/edit/<%= items.id_item %>">
                                            <span class="bx bx-pencil"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                            
                        </tbody>
                    </table>
                </div>
    
            </div>
        
        </div>
        </main>
    </section>
</body>
</html>